In [2]:
import pymysql as mariadb
try:
    conn = mariadb.connect(
            host='10.120.27.202',
            user='hive',
            passwd='1',
            db='rental',
            charset='utf8mb4'
        )
    
    cursor = conn.cursor()
    sql = """
        CREATE TABLE `testEnviro` (
  `ID` INT NOT NULL AUTO_INCREMENT,
  `url` VARCHAR(100) NULL,
  `name` VARCHAR(100) NULL,
  `address` VARCHAR(200) NULL,
  `typeID` INT NULL,
  `cost` INT NULL,
  `description` TEXT(2000) NULL,
  `lat` DECIMAL(20,17) NULL,
  `lng` DECIMAL(20,17) NULL,
  `cityID` INT NULL,
  PRIMARY KEY (`ID`))
  ENGINE = InnoDB DEFAULT  
  CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci;
        """
    try:
        cursor.execute(sql)
    except Exception as e:
        print('Execute Failed!\nError Code is %s;\nError Content is %s;' % (e.args[0],e.args[1]))
        cursor.close()
        conn.close()
except Exception as e:
    print('Connection Failed!\nError Code is %s;\nError Content is %s;' % (e.args[0],e.args[1]))

In [3]:
import glob
from multiprocessing import Process, Queue
import json
q1=Queue()
fil = glob.glob('baseEnviro/Food/*')
for file in fil:
    for detail in glob.glob('{}/*'.format(file)):
        with open('{}'.format(detail),encoding='utf-8') as f:
            jSon = json.load(f)
            #print(jSon)
            q1.put(jSon)

print(q1.qsize())

34882

In [4]:
def write(obj):
    obj = obj
    sql = '''INSERT INTO testEnviro (url,name,address,typeID,cost,description,lat,lng,cityID) VALUES 
                (%s,%s,%s,%s,%s,%s,%s,%s,%s)'''
    values = (obj['url'], obj['name'], obj['address'],obj['typeID'],obj['cost'],
                  obj['description'], obj['lat'],obj['lng'], obj['cityID'])
    try:
        cursor.execute(sql,values)
    except Exception as e:
            print(obj)
            conn.rollback()
            print('Execute Failed!\nError Code is %s;\nError Content is %s;' % (e.args[0],e.args[1]))

In [5]:
import pymysql as mariadb
import time
start = time.time()
conn = mariadb.connect(
            host='10.120.27.202',
            user='hive',
            passwd='1',
            db='rental',
            charset='utf8mb4'
        )
cursor = conn.cursor()
while not q1.empty():
    try:
        obj = q1.get()
#         print(obj)
        write(obj)
    except Exception as e:
        print(e)
        print(obj)
conn.commit()
conn.close()
print('total time = {}'.format(time.time()-start))

total time = 12.376685619354248

In [ ]:
# orient :1707
# multiprocessing with lock : 1144
# stop commit :7.19
# stop commit + disable keys:6.58

In [ ]:
import math 
import matplotlib.pyplot as plt 
summ = 0
x=[]
y=[]
for i in range (1,1000):
    summ += 9*i*i
    x.append(i)
    y.append(math.pow(summ,1.0/i))
plt.plot(x,y,color='purple',marker='.',linestyle='solid')
plt.show()

In [ ]:
#bulk insert

In [ ]:
sql='''LOAD DATA  INFILE 'file_name'
INTO TABLE tbl_name
FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED BY '"'
LINES TERMINATED BY '\n';'''